<form class="form-horizontal">
    <input type="text" ng-model="user">
    <button class="btn" ng-click="userSearch()">
        <i class="icon-search">
        </i>
        Search
    </button>
</form>

<table class="table table-striped {{repoVisibility}}" >
    <tr ng-repeat="repo in repos.data">
        <td>
            <a ng-click="$parent.repoSearch(repo.name)">{{repo.name}}</a>
        </td>
    </tr>
</table>
<table class="table table-striped {{contribVisibility}}">
    <tr>
        <th>Login</th>
        <th>Url</th>
        <th>Contributions</th>
    </tr>
    <tr ng-repeat="contributor in contributors.data">
        <td>
            {{contributor.login}}
        </td>
        <td>
            {{contributor.url}}
        </td>
        <td>
            {{contributor.contributions}}
        </td>
    </tr>
</table>

<hr/>
<div>
    <h2>Debug</h2>
    User: {{user}}<br>
    SelectedRepo: {{selectedRepo}}<br>

</div>
