<div class="user-page">
    <div class="yui3-g">
        <p class="back yui3-u-1-2">
            <a href="#/">« Choose Someone Different</a>
        </p>
        <p class="view-on-github yui3-u-1-2">
            <a href="{{user_info.data.html_url}}">View on GitHub</a>
        </p>
    </div>
    <div class="yui3-g">
        <div class="info yui3-u-2-3">
            <h1>
                <span class="avatar user-avatar">
                    <!-- TODO: Find a way to not get a error on the image source
                               before the user_info has been loaded -->
                    <img src="{{user_info.data.avatar_url}}" alt="{{user}}'s avatar" />
                </span>
                <span class="user-login">{{user}}</span>
                <!-- TODO: remove the () if the name is empty -->
                <span class="user-name">({{user_info.data.name}})</span>
            </h1>
        </div>
        <div class="stats yui3-u-1-3">
            <ul class="yui3-g">
                <li class="user-repos yui3-u-1-2">
                    <b>{{user_info.data.public_repos}}</b>
                    <ng-pluralize count="user_info.data.public_repos"
                    when="{'1': 'Public repo', 'other': 'Public repos'}">
                    </ng-pluralize>
                </li>
                <li class="user-followers yui3-u-1-2">
                    <b>{{user_info.data.followers}}</b>
                    <ng-pluralize count="user_info.data.followers"
                    when="{'1': 'Follower', 'other': 'Followers'}">
                    </ng-pluralize>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <h2 class="no-toc">Public Repositories</h2>

        <!-- TODO: Sort the list based on number of watchers -->
        <ul class="repos">
            <li ng-repeat="repo in repos.data" class="repo yui3-g">
                <div class="repo-name yui3-u-2-3">
                    <h3 class="no-toc">
                        <a href="#/github/{{repo.owner.login}}/{{repo.name}}/">{{repo.name}}</a>
                    </h3>
                    <p class="repo-desc">{{repo.description}}</p>
                </div>
                <div class="repo-stats yui3-u-1-3">
                    <ul class="yui3-g">
                        <li class="repo-lang yui3-u-1-3">
                            <b>{{repo.language}}</b>
                        </li>
                        <li class="repo-watchers yui3-u-1-3">
                            <b>{{repo.watchers}}</b>
                            <span>{{repo.watchers_label}}</span>
                        </li>
                        <li class="repo-forks yui3-u-1-3">
                            <b>{{repo.forks}}</b>
                            <span>
                                <ng-pluralize count="repo.forks"
                                    when="{'1': 'Fork', 'other': 'Forks'}">
                                </ng-pluralize>
                            </span>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
